@model IEnumerable<Restaurant>

@{
    ViewBag.Title = "Index";
    List<AfpaSweet.Restaurant> restaurants = ViewBag.restaurants;
    List<AfpaSweet.TypeCuisine> typeCuisine = ViewBag.typeCuisines;
}

<h2>Index</h2>

<article class="card">


    <div class="card-body p-5">

        <ul class="nav nav-pills rounded nav-fill mb-3" role="tablist">
            <li class="nav-item">
                <a class="nav-link " data-toggle="pill" href="#tabRestaurants">Restaurants</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " data-toggle="pill" href="#tabTypeCuisines">Types de cuisine</a>
            </li>
        </ul>

        <div class="input-group mb-3 col-12">
            <input type="text" id="searchBar" class="form-control col-12" placeholder="Une envie particulière ?">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </span>
            </div>
        </div>


        <div class="tab-content">
            <div class="tab-pane fade show active" role="tabpanel" id="tabRestaurants">

                <div class="row">
                    @foreach (var item in restaurants)
                    {
                        <div class="searchCard card col-sm-12 col-md-6 col-lg-4 my-3">
                            <a class="text-decoration-none text-reset" href=@Url.Action("Menu", "Restaurants", new { id = item.IdRestaurant })>
                                <img class="pt-3 card-img-top" src=@item.Photos.FirstOrDefault().Nom>

                                <div class="card-body">
                                    <h4 class="card-title">@item.Nom</h4>
                                    <div class="card-subtitle mb-2 text-muted d-flex justify-content-between">
                                        <div>@item.TypeCuisine.Nom</div>
                                        <div>@item.Budget</div>
                                    </div>
                                    <p class="card-text text-justify">@item.Description</p>
                                </div>
                            </a>

                        </div>
                    }
                </div>
            </div>


            <div class="tab-pane fade show" role="tabpanel" id="tabTypeCuisines">
                <div class="row">
                    @foreach (var item in typeCuisine)
                    {
                        <div class="searchCard card col-sm-12 col-md-6 my-2">
                            <a href=@Url.Action("Cuisine", "Restaurants", new { id = item.IdTypeCuisine }, null)>
                                <img class="card-img" src=@item.Photo>
                                <div class="card-img-overlay overlay-dark text-white d-flex justify-content-center align-items-end">

                                    <h4 style="color: azure">@item.Nom</h4>

                                </div>
                            </a>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>

</article>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#searchBar").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("div.searchCard").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}