@model IEnumerable<AfpaSweet.Models.ProduitPanier>

@{
    ViewBag.Title = "Panier";

    //condition ternaire : if session... != null, alors c'est true, sinon (session... = null) c'est false
    string isConnected = Session["utilisateur"] != null ? "true" : "false";
}

<h2>Panier</h2>


<table class="table">


    @if (Model != null && Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prix) €
                </td>
                <td>
                    <button data-idproduit="@item.IdProduit" class="btn btn-danger btnSubQte"><i class="fa fa-minus"></i></button>
                </td>
                <td class="@item.IdProduit">
                    @Html.DisplayFor(modelItem => item.Quantite)
                </td>
                <td>
                    <button data-iidproduit="@item.IdProduit" class="btn btn-danger btnAddQte"><i class="fa fa-plus"></i></button>

                </td>
            </tr>
        }
    }


</table>

<button id="payer">
    Payer
</button>

<div class="modal fade" id="modalConnexion" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <input type="text" class="form-control" id="matricule" placeholder="Votre matricule" />
                <input type="password" class="form-control" id="password" placehoder="Votre mot de passe" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                <button type="submit" id="validconnexion" class="btn btn-success">Connexion</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#payer").click(function () {

                if (@isConnected)
                {
                    SaveCommandeSW();
                }
                else {
                    //$("#modalConnexion").modal("show");
                    document.location.href = '/Utilisateurs/Connexion/';

                }


            });

            $('#validconnexion').click(function () {

                loginSW();
            })

            $(".btnSubQte").click(function () {
                var idProduit = $(this).data('idproduit')
                var data = {"idProduit" : idProduit, "idSession" : '@Session.SessionID'};
                var tr = $(this).closest("tr");

                $.ajax({
                    url: '@Url.Action("SubQte", "SW")',
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType : 'application/json; charset=utf-8',
                    DataType: 'json', // On désire recevoir du json
                    success: function (data) {

                        $('.' + idProduit).html(data);
                        $('#panierCount').html(data);


                        if (data == 0) {                    
                            tr.remove();
                        }

                    },
                    error: function () {
                        alert('Error');
                    }
                });
            });

            $(".btnAddQte").click(function () {

                var idProduit = $(this).data('iidproduit')
                var data = {"idProduit" : idProduit, "idSession" : '@Session.SessionID'};

                $.ajax({
                    url: '@Url.Action("AddQte", "SW")',
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType : 'application/json; charset=utf-8',
                    DataType: 'json', // On désire recevoir du json
                    success: function (data) {

                        $('.' + idProduit).html(data);
                        $('#panierCount').html(data);

                    },

                    error: function () {
                        alert('Error');
                    }
                });
             });

        });

        function SaveCommandeSW()
        {
                var data = {"idSession" : '@Session.SessionID'};

                $.ajax({
                    url: '@Url.Action("SaveCommande", "SW")',
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType : 'application/json; charset=utf-8',
                    DataType: 'json', // On désire recevoir du json
                    success: function (data) {
                        document.location.href = '/Restaurants/Index/';
                    },
                    error: function () {
                        alert('Error');
                    }
                });
        }

        function loginSW() {
            var matricule = $('#matricule').val();
            var password = $('#password').val();


            if (matricule != "" && password != "") {
                var data = { "idSession": '@Session.SessionID', 'matricule': matricule, 'password': password };

                $.ajax({
                    url: '@Url.Action("LoginUtilisateur", "SW")',
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf-8',
                    DataType: 'json', // On désire recevoir du json
                    success: function (data) {
                    $("#modalConnexion").modal("hide");

                    },
                    error: function () {
                        alert('Error');
                    }
                });
            }
        }

    </script>
}
